src/includes/nav.html

<nav class="navbar navbar-expand-lg navbar-light bg-light"><a class="navbar-brand" href="index.html">Company Name</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav"><a class="nav-item nav-link" href="index.html">Home</a><a class="nav-item nav-link" href="about.html">About</a><a class="nav-item nav-link" href="portfolio.html">Portfolio</a><a class="nav-item nav-link" href="contact.html">Contact</a></ul>
  </div>
</nav>

src/pug/includes/nav.pug
include mixins

nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href="index.html") Company Name
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarNavAltMarkup
    ul.navbar-nav
        a.nav-item.nav-link(href="index.html") Home
        a.nav-item.nav-link(href="about.html") About
        a.nav-item.nav-link(href="portfolio.html") Portfolio
        a.nav-item.nav-link(href="contact.html") Contact
